* text=auto eol=lf

*.ps1 text eol=lf
*.psm1 text eol=lf
*.lua text eol=lf
*.sql text eol=lf
*.xml text eol=lf
*.modinfo text eol=lf
*.dep text eol=lf
*.md text eol=lf
*.txt text eol=lf

*.ast binary
*.blp binary
*.dds binary
*.jpg binary
*.jpeg binary
*.png binary
*.tga binary
*.wav binary
*.mp3 binary
